.search-twitter-contanier {
    border: 1px solid black;
    flex: 1;
    margin: 10px;
}

.search-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

.search-button-input {
    margin-right: 10px;
    padding: 10px;
    width: 60%;
}

.search-button-btn {
    font-weight: 800;
    padding: 10px;
    width: 20%;
}

.saved-tweets-container {
    border: 1px solid black;
    flex: 1;
    margin: 10px;
}

.tweet-container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}